.app {
  box-sizing: border-box;
}

.colorful {
  border: 2px dashed #ccc;
  padding: 3px;
  margin-bottom: 10px;
  div {
    padding: 10px;
  }

  div:nth-child(1) {
    background: #f60;
  }

  div:nth-child(2) {
    background: rgb(162, 223, 162);
  }

  div:nth-child(3) {
    background: #ccc;
  }
}
